:root {
  --left-gap: 10px;
  --right-gap: 10px;
  --bottom-gap: 10px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", "Arial", monospace;
}

h1,
h2 {
  font-weight: normal;
}
h1:not(#cv-title) {
  text-decoration: underline;
}

p,
ul,
ol {
  margin-bottom: var(--bottom-gap);
}

ul,
ol {
  padding-left: calc(var(--left-gap) * 2);
}

body {
  padding-left: var(--left-gap);
  width: 70vw;
  margin: 10px auto;
  transition: width 0.4s ease;
  font-size: 125%;
}

@media (max-width: 1000px) {
  body {
    width: 100vw;
  }
}

/* HEADER STYLES */

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: clamp(20px, 1.6vw, 35px);
  color: rgb(0, 132, 255);
}

.options > button {
  border: none;
  font-size: inherit;
  font-family: sans-serif;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s;
}

#home-link {
  max-width: fit-content;
  display: block;
  font-family: sans-serif;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.options > button:hover,
#home-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(255, 55, 5);
}

#cv-title {
  font-size: 3.5em;
  text-align: center;
  margin: 0;
}
.socials-nav {
  padding: 0;
  min-width: 100%;
}
.socials-nav > ul {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
}
.socials-nav li {
  display: inline;
}
.socials-nav li:not(:last-child)::after {
  content: " | ";
  font-weight: bolder;
  font-size: 1.1em;
}

/* Education Section */

.education-table {
  /* border: 5px black solid; */
  min-width: 100%;
  font-size: 1em;
  border-spacing: 0 10px;
}

.education-table p {
  margin: 0;
}

.education-table td > p:first-child {
  font-weight: bold;
}

.education-table tr td:first-child {
  text-align: left;
}

.education-table tr td:last-child {
  text-align: right;
  padding: var(--right-gap);
}

/* Experience Section */

/* Skills Section */
.skills-table {
  width: 100%;
  border-spacing: 5px;
  font-size: 1em;
}

.skills-table tr td:first-child {
  font-weight: bold;
}

/* Project Section */

/* Certificates Section */
#certificates p {
  margin: 0;
}

@media print {
  body {
    width: 100vw;
    border: none;
    font-size: 1em;
  }
  .options {
    display: none !important;
  }
}
